
:root {
    --1: #8AA683;
    --2: #406345;
    --3: #323E42;
    --4: #694C2F;
    --5: #D88447;
    --6: #FFD396;
  }
.main {
    min-height: calc(100vh - 2.5em);  
    padding-top: 75px;
}

.bg-1 {
    background-color: #8AA683;
}

.bg-2 {
    background-color: #406345;
}

.bg-3 {
    background-color: #323E42;
}

.bg-4 {
    background-color: #694C2F;
}

.bg-5 {
    background-color: #D88447;
}

.bg-6 {
    background-color: #FFD396;
}
